#content {
	width: 100%;
	text-align: center;
}

canvas {
	display: inline;
}

h1 {
	text-align: left;
}

h2 {
	text-align: left;
}

ul {
	text-align: left;
}

td {
	width: 200px;
}

#loadingtext {
	position:absolute;
	top:250px;
	left:150px;
	font-size:2em;
	color: white;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}

#uiOverlay-top {
    position: absolute;
    left:  35%;
    top: 1%;
    text-align: right;
}

#uiOverlay-right {
    position: absolute;
    left:  55%;
    top: 1%;
    text-align: center;
}

#uiOverlay-help{
	
    position: absolute;
    left:  1%;
    top: 1%;
    text-align: center;
}
#hImage {
	
	display: block;
    height: 100px; 
    width: 100px; 
    max-width: 100px; 
    max-height: 100px;
}
.uitext{
	
	font-family: "Impact";
	background-color: #0f4ae0;
	color: white;
	font-size: 200%;
}
.lower{
	font-size: 150%;
}
.uiImage{
	display: block;
    height: 100px; 
    width: 100px; 
    max-width: 100px; 
    max-height: 100px;
}